:root {
    --primary: #FFD700
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(24, 24, 24);
}

a {
    color: inherit;
    text-decoration: none;
}

body>section {
    width: 800px;
}

@media (max-width: 520px) {
    body>section {
        width: 100%;
    }
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

main {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0);
    overflow-x: hidden;
    background-image: url("../images/background-connect2grow.png");
    padding-bottom: 30px;
}

main nav {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    color: var(--primary);
    box-shadow: 0 8px 30px #ffd90061;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: black;
    margin-bottom: 70px;
}

main nav h1 {
    font-size: 22px;
    font-weight: 600;
}

main nav div {
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
}

main section.menu {
    display: none;
    width: 800px;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
    padding: 20px 0px;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    main section.menu {
        width: 100%;
    }
}

main section.menu div {
    color: white;
    font-weight: 700;
    padding: 0 10px;
    padding-bottom: 10px;
    float: right;
    cursor: pointer;
}

main section.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    color: white;
    width: 100%;
}

main section.menu ul a {
    width: 100%;
}

main section.menu ul li {
    width: 100%;
    padding: 20px 0;
    transition: 0.3s;
}

main section.menu ul li:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

main section.container {
    width: 90%;
    height: auto;
    padding: 30px 20px;
    box-shadow: 0px 0px 20px rgba(255, 203, 21, 0.5);
    border-radius: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    margin: 50px auto;
    color: var(--primary);
    text-align: center;
}

main section.container span {
    color: white;
    font-size: 25px;
}

main section.msg {
    overflow: hidden;
    background-color: black;
    width: 85%;
    margin: auto;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

main section.msg p {
    color: white;
    display: flex;
    align-items: center;
}

main section.container input[type="submit"] {
    background: #000000;
    border: 1px solid var(--primary);
    border-radius: 4px;
    color: var(--primary);
    padding: 6px 30px;
    font-weight: 600;
    font-size: 15px;
    width: fit-content;
    margin: 20px auto;
    cursor: pointer;
    transition: 0.3s;
}

main section.container input[type="submit"]:hover {
    background-color: var(--primary);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    box-shadow: 0 0 10px var(--primary);
}

main section.container h1 {
    margin-bottom: 10px;
    font-size: 25px;
}

main section.renewal h1 {
    margin-bottom: 30px;
}

main section.renewal div span div {
    margin-bottom: 30px;
}